<div class="title-wrapper">
  <div class="container">
    <h1 class="title">Votre binôme online</h1>
  </div>
</div>

<div 
  class="twilio-video" 
  data-sid="<%= ENV["ACCOUNT_SID"] %>" 
  data-room="<%= @booking.url_room %>" 
  data-token="<%= @token %>"
  >

  <div class="user-btn">
    <div class="remote-media-div">
      <video id="userVideo" autoplay muted="true" ></video>
      <div>
        <button id='leave-btn' class='btn btn-primary'> 
          Quittez le coup de pouce!
        </button>
      </div>
    </div>
    <div class="participant">
    </div> 
  </div>

  <%= link_to '', root_path, class: 'd-none root-link', data: {turbolinks: false}  %>

</div>
