
<div class="banner">

   <div class="container">

      <div class="banner-content">
        <h1>Les Binômes</h1>
        <p>Rester solidaire <br> en temps de distanciation sociale</p>
        <a class="btn btn-primary" href="/proposals">Découvrir nos coups de pouce</a>
      </div>

  </div>

</div>

<div class="container">

  <div class="home_text">
    La distanciation sociale ne devrait pas être un frein à <strong>l'entraide</strong>. <br>
    Vous avez besoin d'un <strong>coup de pouce</strong>? <br>
    <strong>Tout peut se faire à distance</strong>!
  </div>

  <div class="home_text">
    <% @categories.each do |category| %>
      <%=  link_to proposals_path(:cat => category.id) do %>
        <div class="card-primary-category" style="background-image: url('<%= image_path category.image %>')">
          <div class="category-name">
            <p><%= category.name %></p>
          </div>
        </div>
     <% end %>
    <% end %>
  </div>
  <div class="cta">
    <a class="btn btn-primary" href="/proposals">Découvrir nos coups de pouce</a>
  </div>
</div>








