<div class="container">

  <h1>Trouvez votre coup de pouce!</h1>

  <div class="cards-wrapper">

    <% @proposals.each do |proposal| %>

      <div class="card-index">
        <%= image_tag proposal.primary_category.image, alt:"image catégorie" %>
        <div class="card-index-secondary-category">
          <%= proposal.secondary_category%>
        </div>
        <div class="card-index-name">
          <%= proposal.name%>
        </div>

       </div>

      <% end %>


  </div>

</div>


