#proposals-new .content-wrapper {
background-image: image-url("lasagnes.jpg"), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.05)),;
background-size: cover;
background-position: center;
}

#title-custom {
  margin-bottom: 0px;
}

#new_proposal {
background: rgba( 255, 255, 255, 0.9);
padding: 40px;
border-radius: 20px;
}

.margin-top {
  margin-top: 40px;
}

.flatpickr-day.selected {
  background-color: $my-red !important;
  border: 1px solid $my-red !important;
}

