.btn-primary {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: white;
}

.btn-primary:hover {
  opacity: 1;
  color: #B31B34;
}

#btn-reset {
  opacity: 1;
  color: #B31B34;
}

#btn-query:active {
  opacity: 1;
  color: #B31B34;
}

.btn {
  color: #444444;
  text-decoration: none
}

.btn:hover {
  color: #B31B34;
  text-decoration: none
}

.cross {
  font-size: 22px;
  margin-right: 20px;
  position: absolute;
  right: 280px;
  top: 155px;
  color:#444444;
}

.cross:hover {
  color:$my-red;
}


