 .btn-primary {
  color: $my-red;
  border: 1px solid $my-red;
  padding: 7px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: white;
}

.btn-primary:hover {
  opacity: 1;
  color: white;
  background-color: $my-red;
  border-color: $my-red;
}

#btn-reset {
  opacity: 1;
  color: #B31B34;
}

#btn-query:active {
  opacity: 1;
  color: #B31B34;
}

.btn {
  color: $my-red;
  text-decoration: none
}

.btn:hover {
  color: white;
  text-decoration: none
}

.cross {
  font-size: 22px;
  margin-right: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  color:#444444;
}

.cross:hover {
  color:$my-red;
}

#btn-binome {
  color: $my-red;
  background-color: white;
  border-color: $my-red;

  &:hover {
    color: white;
    background-color: $my-red;
    border-color: $my-red;
  }
}

.btn-dashboard-proposal {
  position: absolute;
  bottom: 20%;
  width: 70%;
}

.cta {
  margin-top: 6%;
  margin-left: 33%;
}





