.btn-primary {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: white;
}

.btn-primary:hover {
  opacity: 1;
  color: #B31B34;
}

#btn-reset {
  opacity: 1;
  color: #B31B34;
}

#btn-query:active {
  opacity: 1;
  color: #B31B34;
}

.btn {
  color: #444444;
  text-decoration: none
}

.btn:hover {
  color: #B31B34;
  text-decoration: none
}
