.card-primary-category {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #B31B34;
  display: flex;
  height: 180px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 80px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.05)),
}

.category-name {
  margin-left: 180px;
}

.card-primary-category:hover {
  color: my-grey;
}

.cards-wrapper {
  display: flex;
}

.card-index {
  width: 305px;
  height: 410px;
  background-color: #F4F4F4;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
}


.card-index img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-index-name {
  margin-top: 60px;
  align-item: left;
  margin-left: 5px;
  font-weight: bold;
}

.card-index:hover {
  img {
   height: 100px;
  }
  .card-index-name {
    margin-top: 10px;
    position: absolute;
    text-align: center;
  }
  .card-index-secondary-category {
    display: none;
  }
  .card-index-description {
    display: block;
    padding: 30px 10px;
    margin-top: 30px;
  }

 .btn-index-card {
  opacity: 1;
  color: #444444;
  border-color: #444444;
  display: block;
  position: absolute;
  }

  .btn-index-card:hover {
  opacity: 1;
  color: #B31B34;
  border-color: #B31B34;
  display: block;
  text-decoration: none;
  }

  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.card-index-secondary-category {
text-align: right;
font-style: italic;
margin-right: 7px;
font-size: 12px;
display: block;
}

.card-index-description {
  display: none;
}


.btn-index-card {
  width: 100px;
  color: #444444;
  border: 1px solid #4A4A4A;
  border-color: #444444;
  padding: 5px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: white;
  text-align: center;
  margin-left: 180px;
  width: 120px;
  display: none;
  // margin-top: 80px;
  position: absolute;
  right: 16px;
  top: 350px;
}

.card-dashboard-proposals {
  width: 305px;
  height: 410px;
  background-color: #F4F4F4;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
}


.card-dashboard-proposals-secondary-category {
text-align: right;
font-style: italic;
margin-right: 7px;
font-size: 12px;
display: block;
}

.card-dashboard-proposals-name {
  margin-left: 5px;
  position: absolute;
  bottom: 40px;
}

.card-delete-update-dashboard {
  position: relative;
  top: 10px;
  text-align: center;
}
