.card-primary-category {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 80px;
}


.card-primary-category :hover {
  color: my-grey;
}

.cards-wrapper {
  display: flex;
}

.card-index {

}

.card-index-name {

}

.card-index-secondary-category {

}
