.card-primary-category {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #B31B34;
  display: flex;
  height: 180px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 80px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.05)),
}

.category-name {
  margin-left: 180px;
}


.card-primary-category:hover {
  color: my-grey;
  font-size: 30px;
}

.cards-wrapper {
  display: flex;
}

.card-info {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  display:flex;
  flex-direction: column;
}

.card-index {
  width: 305px;
  height: 390px;
  padding: 25px;
  background-color: #F4F4F4;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: colomn;
  align-self: flex-end;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}


.card-index img {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.05)),;
  height: 380px;
  background-position: top;
}

.card-index-name {
  align-item: left;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-index:hover {
  transition: ease 1s;
  .card-index-name {
    margin-top: 10px;
    position: absolute;
    text-align: left;
    width: 80%;
  }
  .card-index-secondary-category {
    display: none;
  }
  .card-index-description {
    display: block;
    padding: 30px 0 ;
    margin-top: 30px;
  }

 .btn-index-card {
  opacity: 1;
  color: $my-red;
  border-color: $my-red;
  display: block;
  margin: 0 auto;
  }

  .btn-index-card:hover {
  opacity: 1;
  color: $my-grey;
  border-color: $my-grey;
  display: block;
  text-decoration: none;
  }

  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.card-index-secondary-category {
text-align: left;
margin-right: 7px;
font-size: 14px;
display: block;
width: fit-content;
p {
background-color: $light-gray;
border-radius: 20px;
padding: 5px 10px;
margin-bottom: 0;
}
}

.card-index-description {
  display: none;
}


.btn-index-card {
  width: 100px;
  color: #444444;
  border: 1px solid #4A4A4A;
  border-color: #444444;
  padding: 5px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: white;
  text-align: center;
  width: 120px;
  display: none;
  // margin-top: 80px;

}


