/////// NAV ONGLETS ///////

.nav-item a {
  color: #797991;
  text-decoration: none;
}

.nav-item a:hover {
  color: #B31B34;
  text-decoration: none;
  border: none;
}


.nav-tabs .nav-link.active {
  color: #B31B34;
  text-decoration: none;
}


//////// BOOKINGS //////////

.card-dashboard-bookings {
  width: 305px;
  height: 390px;
  padding: 25px;
  background-color: #F4F4F4;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  display: flex;
  // flex-direction: column;
  align-items: flex-end;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;

    .card-info-bookings {
      background-color: white;
      border-radius: 20px;
      padding: 20px;
      bottom: 0;
      width: 100%;
      display:flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }










}

// .card-dashboard-bookings img {
//  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.05)),;
//   height: 380px;
//   background-position: top;
// }

.card-dashboard-bookings-categories {
  text-align: right;
  font-style: italic;
  margin-right: 7px;
  font-size: 12px;
  display: block;
}

.card-dashboard-bookings-name {
  position: absolute;
  margin-top: 20px;
  margin-bottom: 10px;
  align-item: left;
  margin-left: 7px;
  font-weight: bold;
}

#date-time {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.icon-grey {
  color: $my-grey;
  padding: 8px;
}

.update-delete {
  display: flex;
  justify-content: flex-end;
  color: $my-grey;
  .icon-grey:hover {
    color: $my-red;
  }
}

.update {
  position: absolute;
  margin-left: 240px;
  margin-top: 190px;
  margin-right: 5px;
  padding: 5px;
}

.update:hover {
  color: $my-red;
}

.delete {
  position: absolute;
  margin-left: 200px;
  margin-right: 5px;
  padding: 5px;
  color: $my-grey;
  bottom: 15px;
}

.delete:hover {
  color: $my-red;
}


.delete-booking {
  position: absolute;
  margin-right: 5px;
  padding: 5px;
  color: #444444;
  left: 250px;
  bottom: 20px;
}

.delete-booking:hover {
  color: $my-red;
}



//////// PROPOSALS  //////////

.card-dashboard-proposals {
  width: 305px;
  height: 390px;
  padding: 15px;
  background-color: #F4F4F4;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: colomn;
  align-self: flex-end;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;

}

.card-dashboard-proposals img {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.05)),;
  height: 380px;
  background-position: top;
}


.card-dashboard-proposals-secondary-category {
  text-align: right;
  font-style: italic;
  margin-right: 7px;
  font-size: 12px;
  display: block;
}

.card-dashboard-proposals-name {
  margin-left: 5px;
  position: absolute;
}

.card-delete-update-dashboard {
  position: absolute;
  bottom: 10px;
  left: center;
  text-align: center;
}


#home-tab {
  // border-radius: 20px;
  border: none;
}

#profile-tab {
  // border-radius: 20px;
  border: none;
}

#myTab {
  margin-bottom: 40px;
  border: none;
}



