.home_text {
  text-align: justify;
  font-size: 25px;
  text-align: justify;
  margin-top: 50px;
  color: #444444;
  a:hover {
  text-decoration: none;
   }
  }

.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
  position: relative;
}

.title-wrapper {
  background-color: #B31B34;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.05));
  margin-bottom: 50px;
  height: 90px;
}

.title {
  padding: 15px;
  color: white;
}
