.home_text {
  text-align: justify;
  font-size: 25px;
  text-align: justify;
  margin-top: 50px;
  color: #444444;
}

.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
  position: relative;
}
